.profileContainer {
  width: 50px;
  height: 50px;
  margin: auto;
  border: 2px solid #c4c4c4;
  border-radius: 50%;

  position: relative;
}

.profileContainer .avatar {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}
.dashboardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}
.dashboardKpis {
  /* height: 20vh; */
  background-color: #d5d5ff;
  border-radius: 10px;
  margin-bottom: 40px;
}
.dashboardKpis img {
  height: 100%;
  width: 100%;
}
.dashboardBtns {
  display: flex;
  flex-direction: column;
}
.dashboardBtns {
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.stats > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats strong {
  font-size: 20px;
}
.stats p {
  text-transform: uppercase;
  line-height: 5px;
}

.closed {
  margin: 5px auto;
  background-color: brown;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
}
.quizTime {
  margin: auto;
  background-color: white;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 10px;
}
