.profileContainer {
    width: 150px;
    height: 150px;
    margin: auto;
    border: 7px solid #C4C4C4;
    border-radius: 50%;

    position: relative;
}

.profileContainer .avatar{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}
.uploadPhoto {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.uploadPan h6{
    padding: 40px 10px;
    background-color: white;
    border: 2px dashed grey;
    text-align: center;
}
.uploadBtn{
    position: absolute;
    right: -8px;
    bottom: -10px;
    /* padding: 4px 4px 0;
    background-color: #b3cde8; */
    /* border-radius: 4px; */
}