:root {
  --primary: #9900ff;
}

.logo {
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 30px 50px;
}
.list-md {
  background-color: transparent;
}
ion-content::part(background) {
  background: linear-gradient(
    171.66deg,
    #f0f0f0 2.34%,
    #fbfbfb 21.14%,
    #ffffff 41.42%,
    #fff3f3 65.67%,
    #d8c0ff 97.33%
  );
}
ion-radio {
  width: 20px;
  height: 20px;
  margin: 5px;
  margin-bottom: -5px;
}

ion-radio::part(container) {
  border-radius: 2px;
  border: 1px solid #000000;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #ab81ee;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}

/* for autocomplete background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: inherit !important;
  /* -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset; */
  transition: background-color 5000s ease-in-out 0s;
}
