.createQuizHeader {
  display: flex;
  justify-content: space-between;
}

.buttonGrp {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.buttonGrp .save,
.buttonGrp .back {
  padding: 15px 40px;
  border-radius: 10px;
  text-transform: uppercase;
  color: var(--white);
}
.buttonGrp .save {
  background-color: var(--primary);
}
.buttonGrp .save:disabled {
  background-color: var(--grey);
}
.buttonGrp .back {
  background-color: var(--danger);
}

.textarea,
.textarea textarea {
  width: 100%;
}
