.createQuizHeader{
    display: flex;
    justify-content: space-between;
}

.buttonGrp{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.buttonGrp .save,
.buttonGrp .next{
    padding: 15px 40px;
    border-radius: 10px;
    text-transform: uppercase;
}
.buttonGrp .save{
    background-color: var(--primary);
    color: white;
}
.buttonGrp .next{
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--primary);
}